{
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "enable": true,
  "endOfLine": "lf",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": false,
  "printWidth": 180,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "withNodeModules": false,
  "useEditorConfig": false,
  "resolveGlobalModules": false,
  "requirePragma": false,
  "enableDebugLogs": false
}
